@font-face {
    font-family: "WWF";
    src: url(../fonts/wellwaitfree.otf);
}

@font-face {
    font-family: "Mariupol";
    src: url(../fonts/Mariupol-Regular.ttf);
}

@font-face {
    font-family: "NAMU";
    src: url(../fonts/NAMU-pro.ttf);
}

@font-face {
    font-family: "NeutralFace";
    src: url(../fonts/NeutralFace.otf);
}

@font-face {
    font-family: "UZSans";
    src: url(../fonts/uzsans.ttf);
}