<footer id="footer" class="d-flex flex-wrap justify-content-between align-items-center p-3 mt-4 border-top mt-auto">
    <p class="col-md-4 mb-0 text-muted">© 2023 DDDeutsch</p>
    <ul id="footerLinks" class="nav col-md-6 justify-content-end">
        {% if not demo %}
        <li class="nav-item">
            <a href="mailto:dddeutsch.help@gmail.com" class="nav-link text-muted" id="sendEmailFooter" target="_blank">Отправить Email</a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a href="https://www.buymeacoffee.com/podosenov" class="nav-link text-muted" id="buyCoffeeFooter" target="_blank">Оставить на чай</a>
        </li>
    </ul>
</footer>